<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List Produk Mie Instan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header">
        <ion-list>                    
          <ion-item>
            Sarimi
          </ion-item>
          <ion-item>
            Sedap
          </ion-item>
		  <ion-item>
            Indomie
          </ion-item>
          <ion-item>
            Burung Kakek
          </ion-item>
		  <ion-item>
            Burung Dara
          </ion-item>
        </ion-list>
     </ion-content>
